body {
  display: flex;
  justify-content: center;
  background-color: #effafa;
}

.container {
  margin: 8.6rem;
  width: 111rem;
  max-width: 111rem;
}
.job-card {
  background: #ffffff;
  padding: 3.2rem 4rem;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  border-radius: 5px;
}
